@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/****************
*   untuk navbar
****************/
html, body, * {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overflow-hidden{
    overflow: hidden !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}

.h1,h1 {
    font-size: 3.6rem;
}
    
.h2,h2 {
    font-size: 3rem;
}

.h3,h3 {
    font-size: 2.5rem;
}

.h4,h4 {
    font-size: 2rem;
}

.h5,h5 {
    font-size: 1.7rem;
}

.h6,h6 {
    font-size: 1.44rem;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
}

/* display */
.d-none{
    display: none !important;
}

.d-block{
    display: block !important;
}

.d-flex{
    display: flex !important;
}

.align-items-center{
    align-items: center;
}

@media (min-width: 768px) {
    .d-md-none{
        display: none !important;
    }

    .d-md-block{
        display:block !important;
    }
    
    .d-md-flex{
        display:flex !important;
    }
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 3vh 15vw;
    background: #4A2C2A;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
}

.nav .logo{
    width: 60px;
    height: 53px;
    overflow: hidden;
}

#navbar.active{
    position: relative;
    display: block !important;
}

#navbar.active #item{
    display: block !important;
    background-color: #4A2C2A;
    position: fixed;
    z-index: 999;
    right: 0;
    width: 50vw;
    top: 72px;
    bottom: 0;
}

#navbar.active #item li {
    font-size: 1.44rem;
}

#item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#item li{
    list-style: none;
    padding-left: 50px;
}

#item li a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

#item li a:hover {
    color: #5E5454;
    cursor: pointer;
}

#bar{
    display: initial;
    cursor: pointer;
    font-size: 1.5rem;
}

.back {
    background-image: url(../images/bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

.back .overlay {
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.55;
}

@media (max-width: 768px) {
    .nav{
        position: relative;
        padding: 10px;
    }

    #navbar{
        display: none;
    }

    #item li{
        list-style: none;
        padding-left: 40px;
        padding-right: 20px;
        padding-top: 10px;
        text-align: right;
    }
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.background-text p {
    color: #a1bfc1;
}

.background-text h2 {
    color: #fff;
    font-weight: 700;
    font-size: 5.16rem;
}

.history {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20vh 15vw;
}

.history .history-img {
    width: 45%;
    padding-right: 10vh;
}

.history .history-text {
    color: #171819;
    overflow: hidden;
    width: 45%;
}

.history .history-text h3{
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #252525;
}

.history .history-text p{
    font-weight: 400;
    text-align: center;
    padding-top: 3vh;
    font-family: "Lato", sans-serif;
}

.gallery-title {
    background-color: #fff;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 25vw;
    padding-right: 25vw;
}

.gallery-title h3 {
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background-color: #252525;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.gallery .one {
    width: 48%;
}

.gallery .one p {
    text-align: center;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding: 5vh 0vw;
}

.gallery .one .gallery1 {
    width: 512px;
    height: 252px;
}

.gallery .one .gallery2 {
    width: 512px;
    height: 229px;
}

.gallery .two {
    width: 48%;
}

.gallery .two p {
    text-align: center;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    padding: 11vh 0vw;
}

.gallery .two .gallery3 {
    width: 499px;
    height: 417px;
}

#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.testimonial-heading h3{
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #fff;
    background-color: #252525;
    padding-left: 3rem;
    padding-right: 3rem;
}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-top: 5vh;
}

.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    font-family: "Poppins", sans-serif;
    color: #3d3d3d;
    font-size: 1.44rem;
    letter-spacing: 0.5px;
}
.name-user span{
    font-family: "Lato", sans-serif;
    color: #979797;
    font-size: 1rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 1.2rem;
    color: #4b4b4b;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.foot {
    background: #252525;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18vh 15vw;
}

.foot .one {
    width: 45%;
}

.foot .one h3 {
    font-weight: 600;
    padding: 1rem 0rem;
    color: #fff;
}

.foot .one p {
    font-weight: 400;
    color: #fff;
}

.foot .two {    
    width: 45%;
}

.foot .two iframe {
    width: 100%;
}

.foot .two h3 {
    font-weight: 600;
    color: #fff;
}

.foot .two p {
    font-weight: 400;
    padding: 1rem 0rem;
    color: #fff;
}

@media screen and (max-width: 1042px){
    .h1,h1 {
        font-size: 3rem;
    }
        
    .h2,h2 {
        font-size: 2.5rem;
    }
    
    .h3,h3 {
        font-size: 2rem;
    }
    
    .h4,h4 {
        font-size: 1.7rem;
    }
    
    .h5,h5 {
        font-size: 1.44rem;
    }
    
    .h6,h6 {
        font-size: 1.2rem;
    }
    
    p {
        font-family: "Lato", sans-serif;
        font-size: 1rem;
    }
}

@media screen and (max-width: 991px){
    .h1,h1 {
        font-size: 2.5rem;
    }
        
    .h2,h2 {
        font-size: 2rem;
    }
    
    .h3,h3 {
        font-size: 1.7rem;
    }
    
    .h4,h4 {
        font-size: 1.44rem;
    }
    
    .h5,h5 {
        font-size: 1.2rem;
    }
    
    .h6,h6 {
        font-size: 1rem;
    }
    
    p {
        font-family: "Lato", sans-serif;
        font-size: 0.8rem;
    }
}

@media  screen and (max-width : 768px) {
    .h1,h1 {
        font-size: 2rem;
    }
        
    .h2,h2 {
        font-size: 1.7rem;
    }
    
    .h3,h3 {
        font-size: 1.44rem;
    }
    
    .h4,h4 {
        font-size: 1.2rem;
    }
    
    .h5,h5 {
        font-size: 1rem;
    }
    
    .h6,h6 {
        font-size: 0.8rem;
    }
    
    p {
        font-family: "Lato", sans-serif;
        font-size: 0.7rem;
    }

    #item li a{
        font-size: 0.8rem;
    }

    .name-user strong{
        font-size: 1.2rem;
    }
    
    .name-user span{
        font-size: 0.8rem;
    }

    .client-comment p{
        font-size: 1rem;
    }
}

@media  screen and (max-width : 496px) {
    .h1,h1 {
        font-size: 2rem;
    }
        
    .h2,h2 {
        font-size: 1.7rem;
    }
    
    .h3,h3 {
        font-size: 1.44rem;
    }
    
    .h4,h4 {
        font-size: 1.2rem;
    }
    
    .h5,h5 {
        font-size: 1rem;
    }
    
    .h6,h6 {
        font-size: 0.8rem;
    }
    
    p {
        font-family: "Lato", sans-serif;
        font-size: 0.7rem;
    }
    
    #item li{
        padding-right: 0;
        padding: 4px 0;
    }

    #item li a{
        font-size: 0.8rem;
    }

    .name-user strong{
        font-size: 1rem;
    }
    
    .name-user span{
        font-size: 0.7rem;
    }

    .client-comment p{
        font-size: 0.8rem;
    }

    .testimonial-box{
        width:500px;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
        background-color: #ffffff;
        padding: 20px;
        margin: 15px;
        cursor: pointer;
    }
}